<?xml version="1.0"?>

<launch>

    <!-- center camera -->
    <node pkg="uvc_camera" type="uvc_camera_node" name="uvc_camera_center_node"  >
        <param name="frame_id" type="string" value="head_p_link" />
        <param name="device" type="string" value="/dev/video3" />
        <remap from="/image_raw" to="/robotis/sensor/camera/image_raw"/>
        <remap from="/camera_info" to="/robotis/sensor/camera/camera_info"/>
    </node>

    <!-- other camera -->
    <!-- <node pkg="uvc_camera" type="uvc_camera_node" name="uvc_camera_second_node" >
        <param name="frame_id" type="string" value="head_right_camera_link" />
        <param name="device" type="string" value="/dev/video2" />
        <remap from="/image_raw" to="/ppc/camera_right/image_raw"/>
        <remap from="/camera_info" to="/ppc/camera_right/camera_info"/>
    </node> -->

</launch>
